<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  {{ indexChanged }}<br><br><br>
  <ion-slides pager="false" [options]="slideOpts" (ionSlideDidChange)="slideChange()" #slides>    
    <ion-slide>
      Slide 1
    </ion-slide>
    <ion-slide>
      Slide 2
    </ion-slide>    
    <ion-slide>
      Slide 3
    </ion-slide>
    <ion-slide>
      Slide 4
    </ion-slide>    
  </ion-slides>  
</ion-content>
